.Box {
  width: 5rem;
  height: 2rem;
  border: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
  padding: 0 0.5rem 0 0.5rem;
  cursor: pointer;
  margin-right: 1rem;
  position: relative;
}
